.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  padding-top: 60px;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-items: flex-end;
    align-items: center;
    z-index: 9999;
    background-color: #141619;
    border-bottom: 1px solid #4a4b4d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
