.LandingPage {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.LeftSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid #4a4b4d;
}

.RightSection {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
}